*{
    box-sizing: border-box;
}

body{
    background-color: #e5e5e5;
    margin: 0;
}

.header{
    background-color: #ffffff;
    border-radius: 15px;
}

.center{
    background-color: #F4F6FD;
}

ul{
    margin-top: 100px;
    display: flex;
    margin-left: 60px;
    margin-right: 303px;
}

li{
    margin-right: 30px;
    list-style: none;
}

.box{
    width: 732px;
    height: 412px;
    box-shadow: 0px 35px 35px -15px;
    border-radius: 15px;
    background: #FFFFFF;
    margin: 394px 434px;
}